.divider {
    width: 100%;
    height: 100%;
    display: flex;
    .left-comp {
        overflow: scroll;
    }

    .line {
        cursor: col-resize;
        width: 6px;
        background-color: rgb(192, 52, 52);
    }

    .right-comp {
        flex-grow: 1;
        max-width: 100%;
        overflow: scroll;
    }
}